@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-nord-1;
}

.card-container {
  @apply w-full;

  aspect-ratio: 3 / 4;
  container-type: inline-size;
  container-name: card-container;
}

.rounded-card {
  @apply ring-1 ring-nord-2;
  border-radius: clamp(8px, 5%, 24px);
  border-radius: clamp(8px, 5cqmin, 24px);

  @container (max-width: 120px) {
    & > [data-hide-lt-sm] {
      display: none;
    }
  }
}

.nord-shadow {
  box-shadow:
    rgba(15, 17, 21, 0.25) 0px 4px 6px,
    rgba(15, 17, 21, 0.1) 0px 5px 7px;
}
