@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-nord-0;
}

body {
  @apply fixed inset-0 text-nord-6;
}

#root {
  @apply relative mx-auto h-full w-full bg-nord-1;
  max-width: 480px;
}

.card-container {
  @apply w-full;

  aspect-ratio: 3 / 4;
  container-type: inline-size;
  container-name: card-container;
}

.rounded-card {
  @apply ring-nord-0 ring-1;
  border-radius: clamp(8px, 5%, 24px);
  border-radius: clamp(8px, 5cqmin, 24px);

  @container (max-width: 120px) {
    & > [data-hide-lt-sm] {
      display: none;
    }
  }
}

.nord-shadow {
  --tw-shadow: 0px 4px 6px rgba(15, 17, 21, 0.25), 0px 5px 7px rgba(15, 17, 21, 0.1);
}

.bg-ui {
  @apply bg-nord-2;
}

h1,
h2,
h3,
h4 {
  @apply font-robotica text-nord-8;

  text-shadow: 0 4px 0 #2e3440;
}
