@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body,
html {
  @apply bg-nord-0;
}

body {
  @apply text-nord-5 font-sansation;
}

#root {
  @apply fixed top-0 bottom-0 mx-auto h-full w-full bg-nord-1 left-max right-max;
  max-width: 480px;
}

.left-max {
  left: max(0px, 50cqi - 240px);
}

.right-max {
  right: max(0px, 50cqi - 240px);
}

.card-container {
  @apply w-full;

  aspect-ratio: 3 / 4;
  container-type: inline-size;
  container-name: card-container;
}

.rounded-card {
  @apply ring-nord-0 ring-1;
  border-radius: clamp(8px, 5%, 24px);
  border-radius: clamp(8px, 5cqmin, 24px);

  @container (max-width: 120px) {
    & > [data-hide-lt-sm] {
      display: none;
    }
  }
}

.nord-shadow {
  --tw-shadow: 0px 4px 6px rgba(15, 17, 21, 0.25), 0px 5px 7px rgba(15, 17, 21, 0.1);
}

.bg-ui {
  @apply bg-nord-1;
}

h1,
h2 {
  @apply font-robotica text-nord-8;

  text-shadow: 0 4px 0 #2e3440;
}

h3,
h4 {
  @apply font-sansation text-nord-6 font-bold;
}

.tooltip-content {
  animation: slideUpFade 0.2s ease-in-out forwards;
}

.drawer {
  will-change: transform;
  animation: slideUp 0.5s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUpFade {
  from {
    transform: translateY(100%);
    filter: opacity(0);
  }
  to {
    transform: translateY(0);
    filter: opacity(1);
  }
}

.text-shadow-1 {
  text-shadow:
    -1px -1px 0 var(--text-shadow-color),
    1px -1px 0 var(--text-shadow-color),
    -1px 1px 0 var(--text-shadow-color),
    1px 1px 0 var(--text-shadow-color),
    1px 0px 0 var(--text-shadow-color),
    -1px 0px 0 var(--text-shadow-color),
    0px 1px 0 var(--text-shadow-color),
    0px -1px 0 var(--text-shadow-color);
}

/* .tooltip-content::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--accent-color);
} */
